body{
    background-color: black;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.display-flex {
    display: flex;
}
.nav-iteam{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

/* .bg-dark{
    background-color: #777777;
    background-color: #111111;
} */
.title{
    font-size: 3rem;
}
.text-color{
    color: white;
}
.btn-primary{
    background-color: #E6533C;
    border: none;
    border-radius: 50px;
    padding: 10px;
}
/*  hero section*/
.hero{
    justify-content: space-between;
}

/* habit sectioon */
.habit-description{
    text-align: center;
}
.habit{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.border{
    border-radius: 100px;
}
.extra-sec{
    justify-content: space-between;
    padding: 50px;
    background-color: #B9B9B9;
    border-radius: 20px;
}

/* team section */
.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border-radius: 20px;
}

/* footer section */
.foot{
    display: flex;
    justify-content: space-between;
}